.AcInputContainer {
  margin: 0.25em 1em;
  width: 12em;
  position: relative;

  &.opened .Input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

$borderRadius: 2px;
$accentColor: #ef6c00;
$horizontalSpace: 0.75em;

.Input {
  background-color: $accentColor;
  padding: 0.5em $horizontalSpace;
  border-radius: $borderRadius;

  input {
    font-size: 1.2em;
    width: 97%;
  }
}

