$borderRadius: 2px;
$accentColor: #ef6c00;
$horizontalSpace: 0.75em;

.Suggestions {
  position: absolute;
  width: 100%;
  background-color: #f5f5f5;
  max-height: 25em;
  overflow-x: auto;

  border-top: #003d00 3px solid;
  border-bottom: #003d00 3px solid;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  li.active {
    background-color: #ffe0b2;
  }

  li:not(:last-child) {
    border-bottom: solid 2px $accentColor;
  }

  li:hover {
    background-color: #ffe0b2;
  }
}

.itemButton {
  padding: 0.25em $horizontalSpace;
  border: none;
  width: 100%;
  text-align: left;
  background-color: unset;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
}

.itemMeta {
  font-size: 0.8em;
  font-color: #666;
  display: block;
}
