$spacing: 0.5em;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.Panel {
    padding: $spacing;
    background-color: #fafafa;
    border-radius: 3px;
    flex-grow: 0;
    position: relative;
}

.Form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Preview {
    background-color: #ddd;
    margin-top: -10px;
    padding-top: 30px;
    border-radius: 3px;
    min-height: 50vh;
}
