$spacing: 0.5em;
$accentColor: #ef6c00;

.AcInputContainer {
  width: 100%;
  position: relative;
  max-width: 20em;

  &.opened .Input {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-bottom: 3px solid #003d00;
  }
}

.Input {
  border-bottom: 3px solid $accentColor;

  input {
    font-size: 1.1em;
    line-height: 2em;
    border: none;
    background-color: #eeeeee;
    padding: 0 $spacing;
    width: calc(100% - #{$spacing * 2});
  }
}

.meta {
  text-align: right;
  font-size: 0.8em;
  line-height: 0.8em;
  color: #666;
  position: absolute;
  right: 0;
  top: -1em;
}
